   <hr class="divider" />
        <div class="row mb-4">
          <div class="col-md-12 col-lg-4">
            <img
              src="~/images/logo.svg"
              alt="city life logo"
              class="footer__logo"
            />
          </div>
          <div class="col-md-12 col-lg-4">
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris. Fusce posuere
              dapibus eros.
            </p>
          </div>
          <div class="col-md-12 col-lg-4">
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris.
            </p>
          </div>
          
        </div>
        <div class="row contact-info mb-4">
          <ul class="d-flex justify-content-around pl-0">
            <li class="font-weight-bold text-uppercase">City Life</li>
            <li>Sveavägen 63,113 59 Stockholm</li>
            <li>Telefon 0855809400</li>
            <li>info@citylife.se</li>
            <li><a class="footer-contact__link" href="">Cookie policy</a></li>
            <li>
              <a class="footer-contact__link" href="">LIFs Dataskyddspolicy</a>
            </li>
          </ul>
        </div>
