@{
    ViewData["Title"] = "CityLife";
}

 <!-- background pic -->
    <div class="background"></div>
    <div class="row">
      <!-- landing hero -->
      <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">
        <div class=" wrapper-background d-flex justify-content-center">
          <div
            class="wrapper-content  d-flex justify-content-center flex-column"
          >
            <div class=" wrapper-text text-center">
              <h1 class="text-uppercase">
                Välkommen till <span>City Life</span>
              </h1>
              <h3>
                Den självklara mötesplatsen för alla som jobbar inom life
                science
              </h3>
            </div>
            <div class="text-center wrapper__btn">
              <button class="btn btn--green">Hitta hit</button>
              <button class="btn btn--red">Hitta rum</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" container ">
      <partial name="_HeaderPartial">
      <!-- main -->
      <main>
        <section class="row description ">
          <div class=" text-center w-100">
            <h3 class=" font-weight-bold description__main">
              en kaffe mellan möten eller en hel konferens,City Life är platsen
              för dig
            </h3>
          </div>

          <div class="col-md-12 col-lg-6 description__text pl-5 ">
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris. Fusce posuere
              dapibus eros. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed ullamcorper massa lectus, et tempor orci dapibus non.
              Pellentesque id enim commodo, scelerisque augue in, pharetra
              purus. Donec leo odio, consequat non tellus tincidunt, rhoncus
              porta urna.
            </p>
          </div>
          <div class="col-md-12 col-lg-6 pr-5">
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris. Fusce posuere
              dapibus eros. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed ullamcorper massa lectus, et tempor orci dapibus non.
              Pellentesque id enim commodo, scelerisque augue in, pharetra
              purus. Donec leo odio, consequat non tellus tincidunt, rhoncus
              porta urna.
            </p>
          </div>
        </section>
        <section class="row block ">
          <div class="col-sm-12 block__header">
            <h3 class=" font-weight-bold text-capitalize">möten & konferens</h3>
          </div>

          <div class="col-md-12 col-lg-8">
            <img
              class="img-fluid"
              src="https://picsum.photos/800/400/?random
"
              alt=""style="height:400px"
            />
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris. Fusce posuere
              dapibus eros. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed ullamcorper
            </p>
          </div>
          <div class="col-md-12 col-lg-4 ">
            <img
              class="img-fluid"
              src="https://picsum.photos/400/400/?random" style="height:400px"
              alt=""
            />
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris. Fusce posuere
              dapibus eros. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed ullamcorper
            </p>
          </div>
        </section>
        <section class="row block ">
          <div class="col-sm-12 block__header">
            <h3 class=" font-weight-bold text-capitalize">möten & konferens</h3>
          </div>

          <div class="col-md-12 col-lg-4">
            <img
              class="img-fluid"
             src="https://picsum.photos/400/400/?random"
              alt=""
            />
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris. Fusce posuere
              dapibus eros. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed ullamcorper
            </p>
          </div>
          <div class="col-md-12 col-lg-4 ">
            <img
              class="img-fluid"
              src="https://picsum.photos/400/400/?random"
              alt=""
            />
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris. Fusce posuere
              dapibus eros. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed ullamcorper
            </p>
          </div>
          <div class="col-md-12 col-lg-4 ">
            <img
              class="img-fluid"
              src="https://picsum.photos/400/400/?random"
              alt=""
            />
            <p>
              Proin laoreet molestie mi ac mattis. Curabitur velit lorem,
              euismod eget leo sed, imperdiet ullamcorper mauris. Fusce posuere
              dapibus eros. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed ullamcorper
            </p>
          </div>
        </section>
         <partial name="_UpperfooterPartial" />
      </main>
    </div>
    <partial name="_FooterPartial" />
    <partial name="_ModalsPartial" />