@{
    ViewData["Title"] = "Conference plan";


    var roomNames=new []{"Fleming", "Jenner","Röntgen","Molekylen","Cellen","Nightingale","Crick","Watson","Elmqvist"};
    var ids = new[]{"Meetingroom_3_card", "Meetingroom_1_card", "Meetingroom_2_card", "Meetingroom_4_card",
     "Meetingroom_5_card", "Meetingroom_6_card", "Meetingroom_7_card", "Meetingroom_8_card", "Meetingroom_9_card",};
}

<!-- background molecule pic -->
    <div class="background"></div>

    <div class=" container ">
    <!-- main -->
      <main class="plan">
        <div class="plan__text">
          <h2 class="text-capitalize">Våra Lokaler</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            ullamcorper massa lectus, et tempor orci dapibus non. Pellentesque
            id enim commodo, scelerisque augue in, pharetra purus. Donec leo
            odio, consequat non tellus tincidunt, rhoncus porta urna.
          </p>
        </div>
        <!-- floor plan svg -->
        <div class="plan-img text-center">
<?xml version="1.0" encoding="UTF-8"?>
<svg width="1482px" height="836px" viewBox="0 0 1482 836" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Plan</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Plan" transform="translate(-588.000000, -122.000000)">
            <g id="Frame" transform="translate(588.000000, 122.000000)" stroke="#000000" stroke-width="0.5">
                <rect id="rektangel_-_Rör_ej" x="0.9" y="0.3" width="1480.1" height="835.4"></rect>
            </g>
            <g id="Skal" transform="translate(655.000000, 188.000000)" stroke="#000000">
                <polygon id="Shape" points="17.5 0 1347.1 36.3 1347.1 704 0.9 704"></polygon>
            </g>
            <g id="Innerskal" transform="translate(669.000000, 201.000000)" stroke="#000000" stroke-width="0.25">
                <polyline id="Shape" points="16.4 0.8 0.5 677.7 1319.7 677.7 1319.7 32.8 16.4 0.8"></polyline>
            </g>
            <g id="Window" transform="translate(657.000000, 201.000000)" stroke="#000000" stroke-width="0.75">
                <polygon id="Shape" points="28.4 0.8 27.5 43.9 14.1 43.9 12.6 86.3 26.3 91.1 24.9 152.9 11.5 154.5 10.4 198.4 23.7 200.2 22.3 261.9 9.9 263 8 305.7 21.2 309.1 19.7 371 6.3 373.8 5.4 415.7 18.7 418.2 16.9 479.9 3.8 482.5 2.8 523.8 16.1 527.3 14.5 589 1.2 591 0.3 631 13.4 638.7 12.5 677.7 54.5 677.7 54.5 691 98.6 691 101.8 677.7 162.5 677.7 165.5 691 206.6 691 209.7 677.7 270.3 677.7 271.7 691 314.5 691 317.7 677.7 378.3 677.7 381.4 691 422.5 691 425.6 677.7 486.2 677.7 489.4 691 532.1 691 536.9 677.7 594.2 677.7 597.3 691 639.9 691 641.4 677.7 702.1 677.7 705.3 691 746.3 691 749.4 677.7 810.1 677.7 813.9 691 854.3 691 857.4 677.7 918.1 677.7 921.7 691 962.3 691 965.3 677.7 1026 677.7 1029.1 691 1070.1 691 1073.3 677.7 1134 677.7 1135.4 691 1178.1 691 1181.2 677.7 1241.8 677.7 1243.3 691 1286 691 1289.2 677.7 1331.7 677.7 1331.7 634.8 1345.1 633.4 1345.1 590.6 1331.7 587.4 1331.7 528.1 1345.1 526.8 1345.1 484 1331.7 481 1331.7 421.6 1345.1 420.3 1345.1 377.6 1331.7 374.4 1331.7 315.2 1345.1 313.7 1345.1 271 1331.7 267.8 1331.7 208.6 1345.1 205.5 1345.1 164.4 1331.7 161.3 1331.7 102 1345.1 100.7 1345.1 57.9 1331.7 53 1331.7 32.8"></polygon>
            </g>
            <g id="Garden" transform="translate(1068.000000, 211.000000)" stroke="#000000" stroke-width="0.5">
                <polyline id="Shape" points="6.7 0.4 0.9 252.9 13.8 254.5 12.9 311.9 59.1 311.9 59.1 325.2 613.6 325.2 613.6 15.3 6.7 0.4"></polyline>
                <polygon id="Shape" points="20.2 0.7 12.9 311.9 600.2 311.9 598.5 14.9"></polygon>
                <polygon id="Shape" points="6.7 0.4 6.7 9.2 19.9 12.6 18.9 55.4 5.5 56.4 4.8 89.9 18.1 91.5 17 135.4 3.6 137.1 2.9 170.5 16.2 172.2 15.2 216.2 1.7 217.8 0.9 252.9 13.8 254.5 12.9 311.9 59.1 311.9 59.1 325.2 121.7 325.2 123.1 311.9 167.7 311.9 169 325.2 230.8 325.2 232.2 311.9 276.7 311.9 278 325.2 331.3 325.2 332.5 311.9 377.1 311.9 378.5 325.2 436.9 325.2 438.3 311.9 482.8 311.9 484.8 325.2 542.7 325.2 544.1 311.9 588.6 311.9 589.9 325.2 613.6 325.2 613.6 267.3 600 265.5 599.7 221.4 613.6 220 613.6 176.9 599.4 175.6 599.2 131.5 613.6 129 613.6 83.1 613.6 15.3"></polygon>
            </g>
            <g id="Nej" transform="translate(997.000000, 372.000000)"></g>
            <g id="Meetingroom_1" transform="translate(1741.000000, 720.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="111.1 13.2 0.9 13.2 0.9 158.7"></polyline>
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="247.7 13.2 134.6 13.2 112.5 0.2"></polyline>
                <polygon id="room_1" stroke-opacity="0.987460371" stroke="#FFFFFF" fill-opacity="0.971410779" fill="#FFFFFF" points="0.963636923 158.33879 0.963636923 13.0944348 247.56867 13.0944348 247.56867 158.33879"></polygon>
                <text id="Mötesrum-1" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="62.0352" y="87.9336">Mötesrum 1</tspan>
                </text>
            </g>
            <g id="Arrows" transform="translate(1027.000000, 564.000000)">
                <g id="Group">
                    <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="15.1 1 0.3 15.8 0.3 68.9"></polyline>
                    <polygon id="Shape" fill="#000000" fill-rule="nonzero" points="12.5 0.7 12.5 1.2 15 1.1 14.9 3.6 15.4 3.6 15.5 0.6"></polygon>
                </g>
                <g id="Group" transform="translate(68.000000, 0.000000)">
                    <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="15.8 68.4 15.7 15.8 0.5 0.6"></polyline>
                    <polygon id="Shape" fill="#000000" fill-rule="nonzero" points="17.8 66.7 17.5 66.4 15.8 68.2 14.1 66.4 13.7 66.7 15.8 68.9"></polygon>
                </g>
            </g>
            <g id="Meetingroom_2" transform="translate(1645.000000, 732.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="93.4 146.7 93.4 1.2 30.8 0.6"></polyline>
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="0 146.7 0.3 1.2 5.7 0.6 27.3 13.1"></polyline>
                <polygon id="room_2" stroke="#FFFFFF" fill="#FFFFFF" points="0.570955757 146.24359 0.570955757 1.07365047 93.9493207 1.07365047 93.9493207 146.24359"></polygon>
                <text id="Mötes-" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="13.6963" y="75.9336">Mötes-</tspan>
                </text>
                <text id="rum-2" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="18.9963" y="104.2336">rum 2</tspan>
                </text>
            </g>
            <g id="Meetingroom_3" transform="translate(1316.000000, 665.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="324.3 213.7 324.6 67.6 321.4 67.6 315.9 43.5"></polyline>
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="0.3 213.7 0.3 71.5 4.1 70.7 28 77.9"></polyline>
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="329.3 35.3 308.7 13.1 305.6 0.1 29.8 64.7"></polyline>
                <polygon id="room_3" stroke="#FFFFFF" fill="#FFFFFF" points="0.90232001 213.644364 0.90232001 71.6407391 305.041987 1.38963017 322.022047 68.685778 325.660916 68.685778 325.660916 213.644364"></polygon>
                <text id="Mötesrum-3" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="106.5039" y="134.2744">Mötesrum 3</tspan>
                </text>
            </g>
            <g id="Meetingroom_4" transform="translate(0.000000, 325.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="1193.9 553.7 1193.9 440 1269.2 422.3"></polyline>
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="1312.9 553.7 1312.9 412.2 1295 416.3 1276.7 433.4"></polyline>
                <polygon id="room_4" stroke="#FFFFFF" fill="#FFFFFF" points="1194.21618 553.583419 1194.21618 440.002188 1313.01278 412.310353 1313.01278 553.583419"></polygon>
                <text id="Mötes-" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="1220.46" y="490.46">Mötes-</tspan>
                </text>
                <text id="rum-4" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="1225.76" y="518.76">rum 4</tspan>
                </text>
            </g>
            <g id="Meetingroom_5" transform="translate(674.000000, 543.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="0.9 104.4 117.8 107.4 116.5 29.2"></polyline>
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="3.4 0.1 116.1 2.7 116.1 7 105.3 26.3"></polyline>
                <polygon id="room_5" stroke="#FFFFFF" fill="#FFFFFF" points="4.29127863 0.786217365 2.02376134 104.580944 117.479003 107.935185 115.721474 2.58236307"></polygon>
                <text id="Mötes-" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="25.3096" y="43.3232">Mötes-</tspan>
                </text>
                <text id="rum-5" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="30.6096" y="71.6232">rum 5</tspan>
                </text>
            </g>
            <g id="Meetingroom_6" transform="translate(677.000000, 435.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="2.9 0.2 111.5 2.9 112.6 81"></polyline>
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="0.4 103.9 113 106.7 113 103.3 101.6 84.2"></polyline>
                <polygon id="room_6" stroke="#FFFFFF" fill="#FFFFFF" points="0.858511906 103.062429 3.1135198 0.876472912 111.107488 2.50243859 112.935615 106.135626"></polygon>
                <text id="Mötes-" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="22.3096" y="43.5801">Mötes-</tspan>
                </text>
                <text id="rum-6" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="27.6096" y="71.8801">rum 6</tspan>
                </text>
            </g>
            <g id="Meetingroom_7" transform="translate(680.000000, 326.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="96.9 84 108.4 103.1 108.4 107.9 0 105.4"></polyline>
                <path d="M108,80.9 C108,80.2 106.8,2.9 106.8,2.9 L2.6,0.4" id="Shape" stroke="#000000" stroke-width="0.5"></path>
                <polygon id="room_7" stroke="#FFFFFF" fill="#FFFFFF" points="2.73814423 0.652185176 106.52664 2.72064952 108.249781 107.986743 0.103975712 105.795941"></polygon>
                <text id="Mötes-" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="19.3096" y="55.4053">Mötes-</tspan>
                </text>
                <text id="rum-7" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="24.6096" y="83.7053">rum 7</tspan>
                </text>
            </g>
            <g id="Meetingroom_8" transform="translate(682.000000, 201.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="131.8 140.7 112.7 152.2 108.5 152.3 108 123.9 0.6 121.3 3.4 0.8 147.6 4.4 150.2 151.6 135 151.8"></polyline>
                <polygon id="room_8" stroke="#FFFFFF" fill="#FFFFFF" points="109.634602 152.517027 149.634125 152.517027 147.067542 5.05203754 4.03558358 1.56696147 1.36675357 121.191201 109.634602 123.558488"></polygon>
                <text id="Mötes-" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="41.3799" y="60.9688">Mötes-</tspan>
                </text>
                <text id="rum-8" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="46.6799" y="89.2688">rum 8</tspan>
                </text>
            </g>
            <g id="Meetingroom_9" transform="translate(833.000000, 205.000000)" onclick="highlightCard()">
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="15.6 277.7 4.8 297.1 4.8 339.5 25 352.2"></polyline>
                <polyline id="Shape" stroke="#000000" stroke-width="0.5" points="30.7 352.4 52 340.7 52.1 317.5 234.5 317.5 241.7 6.4 0.1 0.4 4.5 273.5"></polyline>
                <path d="M235.9,258.9 L220,277.7" id="Shape" stroke="#000000" stroke-width="0.5"></path>
                <path d="M220,287.8 L234.9,305.9" id="Shape" stroke="#000000" stroke-width="0.5"></path>
                <polygon id="room_9" stroke="#FFFFFF" fill="#FFFFFF" points="0.636626619 1.12437907 241.815111 5.97201245 234.801187 319.633294 52.0427567 319.633294 52.0427567 340.383342 3.44917521 340.383342"></polygon>
                <text id="Mötesrum-9" fill="#000000" font-family="Helvetica" font-size="23.5547" font-weight="normal">
                    <tspan x="54.1543" y="148.2695">Mötesrum 9</tspan>
                </text>
            </g>
            <g id="_x22_Yttervägg_x22_-rummen" transform="translate(674.000000, 352.000000)" stroke="#000000" stroke-width="0.5">
                <polyline id="Shape" points="595.2 395.3 594.2 390.7 516.6 408.9 516.6 526.7 516.6 536.2"></polyline>
                <polyline id="Shape" points="621.9 389.1 620.8 384.9 643.6 379.2 644.7 384"></polyline>
                <polyline id="Shape" points="672.3 377.7 671 372.8 951.3 307.4 955.4 325.2 950.7 326.1"></polyline>
                <polyline id="Shape" points="957.9 356.5 962.2 355.3 967.5 377.2 976.7 377.2 976.7 380.6"></polyline>
                <polyline id="Shape" points="1001.8 380.6 1001.8 377.2 1178.1 377.2 1178.1 381.7"></polyline>
                <polyline id="Shape" points="1201.6 381.2 1201.6 377.2 1314.7 377.1"></polyline>
                <polyline id="Shape" points="0.9 300.4 121.2 303.4 119.3 220.1 116.4 220.1"></polyline>
                <polyline id="Shape" points="116.1 198 119 197.8 118.7 186.3 116 186.3"></polyline>
                <polyline id="Shape" points="115.7 164 118.5 164 117.1 77.1 114.4 77.1"></polyline>
                <polyline id="Shape" points="114 54.9 116.7 54.9 116.5 4.6 120.4 4.6 120.7 1.2"></polyline>
                <polyline id="Shape" points="143 0.8 143 3.6 158.3 3.9 160.2 126.6 163.5 126.5"></polyline>
            </g>
            <g id="Dödyta" transform="translate(834.000000, 502.000000)" stroke="#000000" stroke-width="0.5">
                <polyline id="Shape" points="3.8 0.1 0 0.1 1.1 42.1 3.8 42.5"></polyline>
                <polyline id="Shape" points="87.1 190.4 51 190.4 51 43.7 54.3 43.7 54.3 23.1 233.5 23.1 233.5 20.1"></polyline>
                <polyline id="Shape" points="103.7 20.9 103.7 101.2 107.9 101.2 99.2 101.2"></polyline>
                <polyline id="Shape" points="112.3 112.4 133.3 99.3 158.8 99.3"></polyline>
                <polyline id="Shape" points="93.7 111.8 73.9 101.2 51 101.2"></polyline>
                <path d="M1154.7,176.3 L999.5,176.3" id="Shape"></path>
                <polyline id="Shape" points="933.7 27.5 933.7 117.7 951.1 117.7 951.1 173 956.4 173 956.4 176.3 907.4 176.3 907.4 27.5"></polyline>
                <polyline id="Shape" points="999.5 176.3 978.9 176.3 959.3 187.5"></polyline>
                <polyline id="Shape" points="933.7 27.5 961.1 27.5 961.7 27.5"></polyline>
                <polyline id="Shape" points="965.4 27.5 996.2 27.5 996.2 75 993.4 75 977.3 84.3"></polyline>
                <path d="M933.7,73.4 L953.4,84.8" id="Shape"></path>
                <path d="M996.2,75 L996.2,176.3" id="Shape"></path>
                <path d="M908.4,27.5 L847.6,27.5" id="Shape"></path>
                <polyline id="Shape" points="996.2 27.5 965.4 27.5 965 27.5 963.8 27.5 961.7 27.5 961.1 27.5 933.7 27.5 932.7 27.5"></polyline>
                <polyline id="Shape" points="964.4 27.5 964.4 75 973.2 75 956 75"></polyline>
                <polyline id="Shape" points="158.8 23.1 158.8 190.8 222.3 190.8 240.7 179.3"></polyline>
                <polyline id="Shape" points="246.1 190.4 296.1 190.4 296.1 34.2"></polyline>
                <path d="M158.8,190.8 L128.2,190.8" id="Shape"></path>
                <polyline id="Shape" points="172.5 190.4 172.5 130.7 172.5 67.5 205.9 34.2 264.3 34.2 296.1 67.3"></polyline>
                <polyline id="Shape" points="224.7 143.2 246.3 130.7 256.1 130.7 256.1 84.8 246.6 75.3 223.1 75.3 213.7 84.8 213.7 130.7 221.2 130.7"></polyline>
            </g>
            <g id="Text_2" transform="translate(685.000000, 350.000000)" fill="#000000" font-family="Helvetica" font-weight="normal">
                <text id="WC" font-size="17.6661">
                    <tspan x="1085.5703" y="207.915">WC</tspan>
                </text>
                <text id="WC" font-size="23.5547">
                    <tspan x="212.208" y="222.1494">WC</tspan>
                </text>
                <text id="WC" font-size="23.5547">
                    <tspan x="265.1592" y="222.2695">WC</tspan>
                </text>
                <text id="Entre" font-size="23.5547">
                    <tspan x="359.6582" y="368.2578">Entre</tspan>
                </text>
                <text id="Reception" font-size="23.5547">
                    <tspan x="368.3799" y="481.2734">Reception</tspan>
                </text>
                <g id="Group" transform="translate(678.412100, 222.013700)" font-size="23.5547">
                    <text id="Café-och">
                        <tspan x="12" y="23">Café och</tspan>
                    </text>
                    <text id="mötesplats">
                        <tspan x="0.2" y="51.3">mötesplats</tspan>
                    </text>
                </g>
                <text id="Servering" font-size="23.5547">
                    <tspan x="956.5273" y="258.8389">Servering</tspan>
                </text>
                <text id="Innergård" font-size="23.5547">
                    <tspan x="637.2402" y="23.7764">Innergård</tspan>
                </text>
                <text id="Hiss" font-size="21.5918">
                    <tspan x="365.7812" y="261.3115">Hiss</tspan>
                </text>
                <text id="Trappa" font-size="21.5918">
                    <tspan x="353.6816" y="208.3408">Trappa</tspan>
                </text>
                <text id="WC" font-size="17.6661">
                    <tspan x="1117.3359" y="207.915">WC</tspan>
                </text>
                <g id="Group" transform="translate(0.408200, 406.819300)" font-size="23.5547">
                    <text id="Mötesplats">
                        <tspan x="18" y="23">Mötesplats</tspan>
                    </text>
                    <text id="och-arbetsytor">
                        <tspan x="0.3" y="51.3">och arbetsytor</tspan>
                    </text>
                </g>
            </g>
            <g id="Inredning" transform="translate(844.000000, 745.000000)" stroke="#000000">
                <path d="M90,31.4 L8.2,31.4 C3.9,31.4 0.3,27.8 0.3,23.5 L0.3,8.3 C0.3,4 3.9,0.4 8.2,0.4 L90,0.4 C94.3,0.4 97.9,4 97.9,8.3 L97.9,23.5 C97.9,27.8 94.4,31.4 90,31.4 Z" id="Shape" stroke-width="0.5"></path>
                <rect id="Rectangle-path" stroke-width="0.500024112" transform="translate(249.436265, 47.170470) rotate(-13.055166) translate(-249.436265, -47.170470) " x="186.833246" y="38.8200673" width="125.206038" height="16.7008053"></rect>
            </g>
        </g>
    </g>
</svg>


        </div>
        <!-- Cards with rooms -->
        <div>
          <div class="row">
            @for(var i=0; i<roomNames.Count(); i++) {
              


 <div class="col-sm-6 col-md-4">
              <a href="">
              <div class="card text-dark"  id="@ids[i]">
                <div class="card-body">
                  <h4 class="card-title text-center text-capitalize">
                   @roomNames[i]
                  </h4>
                  <div class="text-center">
                    <span class="card-icon"
                      ><i class="fas fa-user card-user"></i>20</span
                    >

                    <span class="card-icon"><i class="fas fa-wifi"></i></span>
                    <span class="card-icon"><i class="fas fa-video"></i></span>
                    <span class="card-icon"
                      ><i class="fas fa-utensils"></i
                    ></span>
                  </div>
                </div>
                <img
                  class="card-img-top"
                  src="https://via.placeholder.com/250x150"
                  alt="Card image cap"
                />
              </div>
              </a>
            </div>





            }
  
          </div>
        </div>
         <partial name="_UpperfooterPartial" />
      </main>
    </div>


